<router-outlet>
  <div class="container py-5 px-4 rounded shadow bg-light my-2">
    <h1 class="text-center mb-4 text-primary fw-bold display-5">
      🌍 RENIN Custom <span class="text-dark">Enterprise Map Control</span>
    </h1>

    <p class="text-center text-secondary mb-5 fs-5">
      Use the buttons below to interact with the dynamic RENIN map. Zoom to
      layers, features, or identify specific buildings.
    </p>

    <enterprise-map-control
      #emc
      class="w-100 mb-4"
      style="height: 500px; border-radius: 10px"
    ></enterprise-map-control>

    <div class="d-flex justify-content-center gap-4 flex-wrap">
      <button
        class="btn btn-outline-primary btn-lg px-4"
        (click)="triggerZoomToLayer()"
      >
        🔍 Zoom To Layer
      </button>
      <button
        class="btn btn-outline-success btn-lg px-4"
        (click)="triggerZoomToFeature()"
      >
        🎯 Zoom To Feature
      </button>
      <button
        class="btn btn-outline-warning btn-lg px-4 text-dark"
        (click)="triggerIdentifyFeature()"
      >
        🧭 Identify Feature
      </button>
    </div>
  </div>
</router-outlet>
